# gitから無視するファイルを指定します。
# 参考: https://qiita.com/anqooqie/items/110957797b3d5280c44f
# 例えばmacでファイルを編集していると.DS_storeというファイルができますが、
# これはほとんど必要ないと思われるので
.DS_Store
# と記述するとこれ以降git pushとかの選択肢に入ってこない(はず)
# こうやって書くと以下のディレクトリでも無視されるので
#     ├.gitignore
#     ├.DS_Store
#     └directory
#       └.DS_Store
# このようなとき.DS_Storeはどっちも無視される
*.png 
# 画像等をアップロードしても重いだけなのでこれでいいと思いますが、もし画像等をアップロードしたい場合はコメントアウトしてください。
# VUV/*.png
# oscilloscope/*.